body {
    background: gray;
}
/* Fondo de color gris */
h1 {
    font-size: 2em;
    font-family:Cambria;
}
h2 {
    color: white;
    font-size: 1,1em;
    font-family: Times New Roman;
}
/*Subtitulos de color blanco*/
