body {
    background: gray;
}
/* Fondo de color gris */
h1 {
    font-size: 100%;
    font-family:Cambria;
}
h2 {
    color: white;
    font-size: 70%;
    font-family: Times New Roman;
}
/*Subtitulos de color blanco*/
